@using Koala.Models;
@inject MenuHelper menuHelper;
@{
    var sys_menus = menuHelper.All(true);
}
<html lang="en" style="overflow-x:hidden;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <base href="/Client/" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.1.3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/client.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/nav-link.css" />
    <style>
        .tab-pane {
            /*transition: linear 0.3s;*/
            /*transform:rotate3d(90 dge);*/
        }
    </style>
</head>
<body class="h-100 m-0 p-0" style="overflow-x:hidden;">
    <table width="100%" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="39px" valign="top" class="bg-2b579a padding-top-1">
                <table width="100%" height="100%">
                    <tr>
                        <td valign="bottom">
                            <ul class="nav nav-tabs ms-1 w-100 d-flex" id="myTab" role="tablist" style="height:36px;margin-bottom:-2px;">
                                <li html-imgore="true" class="ms-1 mr-3" style="padding-top:3px;">
                                    <div id="top_index_button" class="text-white m-0 p-0 shadow" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                        <span class="fs-6" style="font-family:Arial;"><i class="bi bi-paypal"></i>&nbsp;蓝鹰CSSD智能化供应室 V3.0</span>
                                    </div>
                                </li>
                                @{
                                    var rowIndex = 0;
                                    var itemClass = "hide-arrow clicked";
                                    foreach (var item in sys_menus) {
                                        var div_id = "divMenu_" + item.Id;
                                        var menu_id = "tabpage_" + item.Id;
                                        if (rowIndex > 0) {
                                            itemClass = "";
                                        }
                                        <li class="nav-btn @itemClass ms-3 d-inline" role="presentation">
                                            <div class="nav-menu-text" id="@div_id" data-bs-toggle="tab" href="#@menu_id" role="tab" aria-controls="@menu_id" aria-selected="true">@item.Name</div>
                                        </li>
                                        rowIndex++;
                                    }
                                }
                                <li id="dynamicPage" class="nav-btn d-none" role="presentation">
                                    <div class="nav-menu-text" id="dynamic-tab" data-bs-toggle="tab" href="#dynamic" role="tab" aria-controls="dynamic" aria-selected="false">设置</div>
                                </li>
                                @*<li class="nav-item ps-1 float-end" role="presentation" style="padding-top:1px;">
                            <div class="text-white bg-white text-right rounded-1" style="margin-top:-1px;margin-right:2px;">
                                <table width="100%">
                                    <tr>
                                        <td class="ps-2"><i class="bi bi-upc-scan"></i></td>
                                        <td><input type="email" class="form-control fs-9 w-auto p-1 border-0 rounded-0" id="exampleFormControlInput1" placeholder="请扫描蓝鹰条码" style="width:100% !important;"></td>
                                    </tr>
                                </table>
                            </div>
                        </li>*@
                            </ul>
                        </td>
                        <td class="text-center" width="180px">
                            <div class="bg-warning fs-9 rounded-1 me-1 p-1 text-dark shadow">
                                <i class="bi bi-sun-fill"></i>&nbsp;
                                @DateTime.Now.ToString("MM月dd日 HH:mm ddd")
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="66px" class="bg-f3f3f3 border-bottom border-d2d2d2">
                <div class="tab-content bg-f3f3f3" id="myTabContent">
                    @{
                        rowIndex = 0;
                        itemClass = "show active";
                        foreach (var item in sys_menus) {
                            var menu_id = "tabpage_" + item.Id;
                            if (rowIndex > 0) {
                                itemClass = "fade";
                            }
                            <div class="tab-pane @itemClass" id="@menu_id" role="tabpanel" aria-labelledby="@menu_id">
                                <div class="hstack gap-3 ps-3">
                                    @if (item.SubMenus != null) {
                                        @foreach (var subMenu in item.SubMenus) {
                                            if (subMenu.Name.Equals("-")) {
                                                <div class="vr mt-1"></div>
                                            } else {
                                                <button type="button" class="btn menu-btn position-relative btn-outline-f3f3f3 rounded-0 border-0 fs-9" attr-url="@subMenu.AspPage">
                                                    <span class="fs-4"><i class="bi bi-@subMenu.Class"></i></span><br />@subMenu.Name
                                                    @if (subMenu.Unread > 0) {
                                                        <span class="position-absolute ms-90 top-9px translate-middle badge rounded-pill bg-danger">
                                                            @subMenu.Unread
                                                            <span class="visually-hidden">unread messages</span>
                                                        </span>
                                                    }
                                                </button>
                                            }
                                        }
                                    } else {
                                        <button type="button" class="btn menu-btn btn-outline-f3f3f3 rounded-0 border-0 fs-9"><span class="fs-4"><i class="bi bi-question"></i></span><br />null</button>
                                    }
                                </div>
                            </div>
                            rowIndex++;
                        }
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <main role="main" class="overflow-hidden h-100">
                    @RenderBody()
                </main>
            </td>
        </tr>
        <tr>
            <td height="30px" class="bg-light border-top">
                <div class="container-fluid fs-9 w-100">
                    &copy; 2021 - Client - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </td>
        </tr>
    </table>

    <div class="offcanvas offcanvas-start shadow-sm bg-2b579a text-white" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width:263px;margin-bottom:30px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title ms-2" id="offcanvasExampleLabel">欢迎您：张三&nbsp;<i class="bi bi-person-fill fs-5"></i></h5>
            <a id="btn_CloseExample" href="#hide_panel" class="btn-link text-white fs-4 float-end" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left-circle"></i></a>
        </div>
        <div class="w-100 text-center lh-lg">
            @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")<br />
            @DateTime.Now.DayOfWeek<br />
            农历 农历节气
        </div>
        <div class="offcanvas-body p-0">
            <table id="flush_menu" width="100%" height="100%">
                <tr>
                    <td height="100px">
                        <ul class="list-group list-group-flush mt-4">
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-pause-btn"></i>&nbsp;无菌包</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-basket"></i>&nbsp;网篮</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-building"></i>&nbsp;无菌库</li>
                            <li class="list-group-item list-group-item-action text-center" attr-action="print"><i class="bi bi-printer-fill"></i>&nbsp;打印设置</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-shuffle"></i>&nbsp;流程/选项</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-chat-dots text-warning"></i>&nbsp;未读消息(xxx)</li>
                            <li class="list-group-item list-group-item-action text-center">触屏模式</li>
                            <li class="list-group-item list-group-item-action text-center">扫码模式</li>
                            <li class="list-group-item list-group-item-action text-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-palette text-info"></i>&nbsp;个性化</li>
                            <li class="list-group-item list-group-item-action text-center"><a href="/Administration/Index" class="text-white fs-6 text-decoration-none" target="_blank"><i class="bi bi-shield-check"></i>&nbsp;管理后台</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td height="198px" valign="top">
                        <ul class="list-group list-group-flush bottom-0">
                            <li class="list-group-item list-group-item-action text-center">帮助</li>
                            <li class="list-group-item list-group-item-action text-center">问题反馈</li>
                            <li class="list-group-item list-group-item-action text-center">培训</li>
                            <li class="list-group-item list-group-item-action text-center">质控</li>
                            <li class="list-group-item list-group-item-action text-center"><a href="/Logout" class="text-white text-decoration-none fs-6">退出&nbsp;<i class="bi bi-power"></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td height="30px">
                        <div class="ps-3 pb-3 text-white">
                            <span>蓝鹰追溯3.0系统 Copyright - v3.0.xx</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-2">
            <h5 class="offcanvas-title fs-6" id="offcanvasExampleLabel">个性化设置</h5>
            <a href="#hide_panel" class="btn-link text-white fs-4 float-end" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left-circle"></i></a>
        </div>
        <div class="offcanvas-body">
            <div class="row mb-3 p-1">
                <span class="fs-9 p-1 fw-bold">浏览视图</span>
                <div class="p-1">
                    <table width="100%" class="mt-2">
                        <tr>
                            <td width="100px">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" checked name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">默认</label>
                                </div>
                            </td>
                            <td class="pb-1"><img src="~/images/row-Default.png" /></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">紧凑</label>
                                </div>
                            </td>
                            <td class="pb-1"><img src="~/images/row-Default.png" /></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">加宽</label>
                                </div>
                            </td>
                            <td><img src="~/images/row-Default.png" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row">
                    <span class="fs-9 mb-1 fw-bold float-start">主题背景<span class="float-end fs-9"><a href="#View" class="text-decoration-none fw-normal">查看全部</a></span></span>
                </div>
                <div>
                    <table width="100%" class="mt-2">
                        <tr>
                            <td width="100px">
                                <img class="img-thumbnail" width="80" src="~/images/previewHD4.png" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_kk.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_temp.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_temp1.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_5.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_6.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_7.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_8.jpg" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row">
                    <span class="fs-9 mb-1 fw-bold float-start">启用桌面通知&nbsp;<span class="fs-9"><input type="checkbox" /></span></span>
                </div>
                <div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row">
                    <span class="fs-9 mb-1 fw-bold float-start">显示字号</span>
                    <select class="form-select fs-9" aria-label="Default select example" style="margin-left:9px;">
                        <option value="1" class="fs-7">默认</option>
                        <option value="2" class="fs-6">中号</option>
                        <option value="3" class="fs-5">大号</option>
                        <option value="3" class="fs-4">加大号</option>
                    </select>
                </div>
                <div>
                </div>
            </div>
        </div>

        <script src="~/lib/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
        <script>
            $(document).ready(function () {
                $("#flush_menu li").click(function () {
                    var action = $(this).attr("attr-action");
                    switch (action) {
                        case "print":   // 打印设置
                            //$('#dynamicPage a').show();
                            $('#btn_CloseExample')[0].click();

                            var dynamicPage = $('#dynamicPage');
                            var dynamicText = $('#dynamic-tab');

                            if (dynamicPage.hasClass("d-none")) {
                                dynamicPage.removeClass("d-none");
                            }
                            dynamicPage.addClass("d-block");
                            dynamicText.text('打印设置');

                            var dynamicTabEl = document.querySelector('#dynamicPage a');
                            var dynamicTab = new bootstrap.Tab(dynamicTabEl);

                            dynamicTab.show();

                            break;
                    }
                });
                $('button.menu-btn').click(function () {
                    var url = $(this).attr("attr-url");
                    if (url != "" || url != undefined) {
                        $('#html_content').attr("src", url);
                    }
                });
                $('#myTab li').click(function () {
                    var ingore = $(this).attr("html-imgore");
                    if (ingore == "true") {

                    } else {
                        $('#myTab li').each(function () {
                            $(this).removeClass("clicked");
                        });
                        $(this).toggleClass("clicked");
                    }
                });
            });
        </script>
</body>
</html>