@using Koala.Models;
@inject MenuHelper menuHelper;
@{
    var sys_menus = menuHelper.All(true);
    var showBarcode = ViewData.ContainsKey("barcode");
}
<html lang="en" style="overflow-x:hidden;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <base href="/Client/" />
    <link rel="stylesheet" href="~/lib/bootstrap-5.1.3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/client.css" />
    <link rel="stylesheet" href="/css/font.css" />
    <link rel="stylesheet" href="/css/nav-link.css" />

    <style>
        .tab-pane {
            /*transition: linear 0.3s;*/
            /*transform:rotate3d(90 dge);*/
        }

        .bg-barcode {
            background-image: url('/images/DE4A8F52-7381-4ef6-845A-F291A6279863.png');
            background-position: center right;
            background-size: cover;
        }
    </style>
    <style>
        .card {
            background: #fff;
            transition: .5s;
            border: 0;
            margin-bottom: 30px;
            border-radius: .55rem;
            position: relative;
            width: 100%;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
        }

        .chat-app .people-list {
            width: 180px;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 7
        }

        .chat-app .chat {
            margin-left: 180px;
            border-left: 1px solid #eaeaea
        }

        .people-list {
            -moz-transition: .5s;
            -o-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s
        }

            .people-list .chat-list li {
                padding: 10px 15px;
                list-style: none;
                border-radius: 3px
            }

                .people-list .chat-list li:hover {
                    background: #efefef;
                    cursor: pointer
                }

                .people-list .chat-list li.active {
                    background: #efefef
                }

                .people-list .chat-list li .name {
                    font-size: 15px
                }

            .people-list .chat-list img {
                width: 45px;
                border-radius: 50%
            }

            .people-list img {
                float: left;
                border-radius: 50%
            }

            .people-list .about {
                float: left;
                padding-left: 8px
            }

            .people-list .status {
                color: #999;
                font-size: 13px
            }

        .chat .chat-header {
            padding: 15px 20px;
            border-bottom: 2px solid #f4f7f6
        }

            .chat .chat-header img {
                float: left;
                border-radius: 40px;
                width: 40px
            }

            .chat .chat-header .chat-about {
                float: left;
                padding-left: 10px
            }

        .chat .chat-history {
            padding: 20px;
            border-bottom: 2px solid #fff
        }

            .chat .chat-history ul {
                padding: 0
            }

                .chat .chat-history ul li {
                    list-style: none;
                    margin-bottom: 30px
                }

                    .chat .chat-history ul li:last-child {
                        margin-bottom: 0px
                    }

            .chat .chat-history .message-data {
                margin-bottom: 15px
            }

                .chat .chat-history .message-data img {
                    border-radius: 40px;
                    width: 40px
                }

            .chat .chat-history .message-data-time {
                color: #434651;
                padding-left: 6px
            }

            .chat .chat-history .message {
                color: #444;
                padding: 18px 20px;
                line-height: 26px;
                font-size: 16px;
                border-radius: 7px;
                display: inline-block;
                position: relative
            }

                .chat .chat-history .message:after {
                    bottom: 100%;
                    left: 7%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: #fff;
                    border-width: 10px;
                    margin-left: -10px
                }

            .chat .chat-history .my-message {
                background: #efefef
            }

                .chat .chat-history .my-message:after {
                    bottom: 100%;
                    left: 30px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-bottom-color: #efefef;
                    border-width: 10px;
                    margin-left: -10px
                }

            .chat .chat-history .other-message {
                background: #e8f1f3;
                text-align: right
            }

                .chat .chat-history .other-message:after {
                    border-bottom-color: #e8f1f3;
                    left: 93%
                }

        .chat .chat-message {
            padding: 20px
        }

        .online,
        .offline,
        .me {
            margin-right: 2px;
            font-size: 8px;
            vertical-align: middle
        }

        .online {
            color: #86c541
        }

        .offline {
            color: #e47297
        }

        .me {
            color: #1d8ecd
        }

        .float-right {
            float: right
        }

        .clearfix:after {
            visibility: hidden;
            display: block;
            font-size: 0;
            content: " ";
            clear: both;
            height: 0
        }
    </style>
</head>
<body class="h-100 m-0 p-0" style="overflow-x:hidden;">

    <div id="chat_form" class="container position-absolute end-0 bottom-0 overflow-hidden bg-light rounded-3 d-none mb-1" style="z-index:9999;width:600px;height:460px;">
        <div class="row clearfix">
            <div class="col-lg-12 pt-3">
                <div class="card chat-app border-1 shadow">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-search"></i></span>
                                <input type="text" class="form-control form-control-sm" placeholder="Search...">
                            </div>
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            <li class="clearfix active">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                                <div class="about">
                                    <div class="name">临床科室/张三</div>
                                    <div class="status"> <i class="fa fa-circle offline"></i>在线</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                <div class="about">
                                    <div class="name">手术室/李静蕾</div>
                                    <div class="status"> <i class="fa fa-circle online"></i>离线</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-5">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">
                                    </a>
                                    <div class="chat-about">
                                        <h6 class="m-b-0">Admin</h6>
                                        <small>消毒供应室</small>
                                    </div>
                                </div>
                                <div class="col-lg hidden-sm text-right ps-4">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="bi bi-camera-fill"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="bi bi-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i class="bi bi-gear"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning" onclick="$('#chat_form').addClass('d-none');"><i class="bi bi-x"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:12 AM, Today</span>
                                    </div>
                                    <div class="message my-message">申请收到了吗?</div>
                                </li>
                                <li class="clearfix">
                                    <div class="message-data">
                                        <span class="message-data-time">10:15 AM, Today</span>
                                    </div>
                                    <div class="message my-message">已收到.</div>
                                </li>
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-send"></i></span>
                                    <input id="tbx_chat" type="text" class="form-control shadow" autocomplete="off" placeholder="发送信息...">
                                    <button class="btn btn-primary">发送</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table width="100%" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="39px" valign="top" class="bg-2b579a padding-top-1">
                <table width="100%" height="100%">
                    <tr>
                        <td valign="bottom">
                            <ul class="nav nav-tabs ms-1 w-100 d-flex" id="myTab" role="tablist" style="height:36px;margin-bottom:-2px;">
                                <li html-imgore="true" class="ms-1 mr-3" style="padding-top:3px;">
                                    <div id="top_index_button" class="text-white m-0 p-0 shadow" data-bs-toggle="offcanvas" href="#offcanvas_menu" role="button" aria-controls="offcanvas_menu">
                                        <span class="fs-6" style="font-family:Arial;"><i class="bi bi-paypal"></i>&nbsp;蓝鹰CSSD智能化供应室 V3.0</span>
                                    </div>
                                </li>
                                @{
                                    var rowIndex = 0;
                                    var itemClass = "hide-arrow clicked";
                                    foreach (var item in sys_menus) {
                                        var div_id = "divMenu_" + item.Id;
                                        var menu_id = "tabpage_" + item.Id;
                                        if (rowIndex > 0) {
                                            itemClass = "";
                                        }
                                        <li class="nav-btn @itemClass ms-3 d-inline" role="presentation">
                                            <div class="nav-menu-text" id="@div_id" data-bs-toggle="tab" href="#@menu_id" role="tab" aria-controls="@menu_id" aria-selected="true">@item.Name</div>
                                        </li>
                                        rowIndex++;
                                    }


                                }
                                <li id="dynamicPage" class="nav-btn d-none" role="presentation">
                                    <div class="nav-menu-text" id="dynamic-tab" data-bs-toggle="tab" href="#dynamic" role="tab" aria-controls="dynamic" aria-selected="false">设置</div>
                                </li>
                                @*<li class="nav-item ps-1 float-end" role="presentation" style="padding-top:1px;">
                                        <div class="text-white bg-white text-right rounded-1">
                                            <table width="100%">
                                                <tr>
                                                    <td class="ps-2"><i class="bi bi-upc-scan"></i></td>
                                                    <td><input type="email" class="form-control fs-9 w-auto p-1 border-0 rounded-0" id="exampleFormControlInput1" placeholder="请扫描蓝鹰条码" style="width:100% !important;"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </li>*@
                            </ul>
                        </td>
                        <td class="text-center" width="180px">
                            <div id="btn_Barcode" class="d-none me-1">
                                <input type="text" class="form-control form-control-sm bg-barcode" placeholder="输入或扫描条码" />
                            </div>

                            <div id="btn_dt" class="bg-warning fs-9 rounded-1 me-1 p-1 text-dark shadow">
                                <i class="bi bi-sun-fill"></i>&nbsp;
                                @DateTime.Now.ToString("MM月dd日 HH:mm ddd")
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td height="66px" class="bg-f3f3f3 border-bottom border-d2d2d2">
                <div class="tab-content bg-f3f3f3" id="myTabContent">
                    @{
                        rowIndex = 0;
                        itemClass = "show active";
                        foreach (var item in sys_menus) {
                            var menu_id = "tabpage_" + item.Id;
                            if (rowIndex > 0) {
                                itemClass = "fade";
                            }
                            <div class="tab-pane @itemClass" id="@menu_id" role="tabpanel" aria-labelledby="@menu_id">
                                <div class="hstack gap-3 ps-3 w-100 position-relative">
                                    @if (item.SubMenus != null) {
                                        @foreach (var subMenu in item.SubMenus) {
                                            if (subMenu.Name.Equals("-")) {
                                                <div class="vr mt-1"></div>
                                            } else {
                                                <button type="button" class="btn menu-btn position-relative btn-outline-f3f3f3 rounded-0 border-0 fs-9" attr-menuid="@item.Id" attr-actions="@subMenu.Actions" attr-url="@subMenu.AspPage">
                                                    <span class="fs-4"><i class="bi bi-@subMenu.Class"></i></span><br />@subMenu.Name
                                                    @if (subMenu.Unread > 0) {
                                                        <span class="position-absolute ms-90 top-9px translate-middle badge rounded-pill bg-danger">
                                                            @subMenu.Unread
                                                            <span class="visually-hidden">unread messages</span>
                                                        </span>
                                                    }
                                                </button>
                                            }
                                        }
                                        <div class="w-auto position-absolute end-0 pe-3">
                                            <div class="" role="group" aria-label="">
                                                <button id="btn_View_@item.Id" type="button" class="action-btn btn d-none btn-primary shadow-sm me-1 p-1 ps-2 pe-2">查看</button>
                                                <button id="btn_Pass_@item.Id" type="button" class="action-btn btn d-none btn-success shadow-sm me-1 p-1 ps-2 pe-2">审批通过</button>
                                                <button id="btn_Refuse_@item.Id" type="button" class="action-btn btn d-none btn-danger shadow-sm me-1 p-1 ps-2 pe-2">审批不通过</button>
                                                <button id="btn_Draft_@item.Id" type="button" class="action-btn btn d-none btn-success shadow-sm me-1 p-1 ps-2 pe-2">暂存</button>
                                                <button id="btn_Submit_@item.Id" type="button" class="action-btn btn d-none btn-success shadow-sm me-1 p-1 ps-2 pe-2">提交</button>
                                                <button id="btn_Refresh_@item.Id" type="button" class="action-btn btn d-none btn-outline-secondary shadow-sm me-1 p-1 ps-2 pe-2">刷新</button>
                                                <button id="btn_Cancel_@item.Id" type="button" class="action-btn btn d-none btn-secondary shadow-sm me-1 p-1 ps-2 pe-2">取消</button>
                                                <!-- Example split danger button -->
                                                <div id="btn_SubmitTo_@item.Id" class="action-btn btn-group d-none">
                                                    <button type="button" class="btn btn-danger p-1 ps-2 pe-2">提交至</button>
                                                    <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class="visually-hidden">Toggle Dropdown</span>
                                                    </button>
                                                    <ul class="dropdown-menu shadow">
                                                        <li><a class="dropdown-item fs-9" href="#">南院供应室</a></li>
                                                        <li><a class="dropdown-item fs-9" href="#">北约供应室</a></li>
                                                        <li><a class="dropdown-item fs-9" href="#">Something else here</a></li>
                                                        <li><hr class="dropdown-divider"></li>
                                                        <li><a class="dropdown-item fs-9" href="#">选择科室...</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    } else {
                                        <button type="button" class="btn menu-btn btn-outline-f3f3f3 rounded-0 border-0 fs-9"><span class="fs-4"><i class="bi bi-question"></i></span><br />null</button>
                                    }
                                </div>
                            </div>
                            rowIndex++;
                        }
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <main role="main" class="overflow-hidden h-100">
                    @RenderBody()
                </main>
            </td>
        </tr>
        <tr>
            <td height="30px" class="bg-light border-top">
                <div class="container-fluid fs-9 w-100">
                    &copy; 2021 - Client - <a asp-area="" asp-page="/Privacy">Privacy</a>
                    <a href="#Temp" class="float-end me-3 fs-9 text-decoration-none" onclick="call();"><i class="bi bi-chat-right-dots"></i> 收到 <span class="text-danger">5</span> 条未读信息.</a>
                </div>
            </td>
        </tr>
    </table>

    <div class="offcanvas offcanvas-start shadow-sm bg-2b579a text-white" tabindex="-1" id="offcanvas_menu" aria-labelledby="offcanvas_menu_title" style="width:263px;margin-bottom:30px;">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title ms-2" id="offcanvas_menu_title">欢迎您：张三&nbsp;<i class="bi bi-person-fill fs-5"></i></h5>
            <a id="btn_CloseExample" href="#hide_panel" class="btn-link text-white fs-4 float-end" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left-circle"></i></a>
        </div>
        <div class="w-100 text-center lh-lg">
            @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")<br />
            @DateTime.Now.DayOfWeek<br />
            农历 农历节气
        </div>
        <div class="offcanvas-body p-0">
            <table id="flush_menu" width="100%" height="100%">
                <tr>
                    <td height="100px">
                        <ul class="list-group list-group-flush mt-4">
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-pause-btn"></i>&nbsp;无菌包</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-basket"></i>&nbsp;网篮</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-building"></i>&nbsp;无菌库</li>
                            <li class="list-group-item list-group-item-action text-center" attr-action="print"><i class="bi bi-printer-fill"></i>&nbsp;打印设置</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-shuffle"></i>&nbsp;流程/选项</li>
                            <li class="list-group-item list-group-item-action text-center"><i class="bi bi-chat-dots text-warning"></i>&nbsp;未读消息(xxx)</li>
                            <li class="list-group-item list-group-item-action text-center">触屏模式</li>
                            <li class="list-group-item list-group-item-action text-center">扫码模式</li>
                            <li class="list-group-item list-group-item-action text-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-palette text-info"></i>&nbsp;个性化</li>
                            <li class="list-group-item list-group-item-action text-center"><a href="/Administration/Index" class="text-white fs-6 text-decoration-none" target="_blank"><i class="bi bi-shield-check"></i>&nbsp;管理后台</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td height="198px" valign="top">
                        <ul class="list-group list-group-flush bottom-0">
                            <li class="list-group-item list-group-item-action text-center">帮助</li>
                            <li class="list-group-item list-group-item-action text-center">问题反馈</li>
                            <li class="list-group-item list-group-item-action text-center">培训</li>
                            <li class="list-group-item list-group-item-action text-center">质控</li>
                            <li class="list-group-item list-group-item-action text-center"><a href="/Logout" class="text-white text-decoration-none fs-6">退出&nbsp;<i class="bi bi-power"></i></a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td height="30px">
                        <div class="ps-3 pb-3 text-white">
                            <span>蓝鹰追溯3.0系统 Copyright - v3.0.xx</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header p-2">
            <h5 class="offcanvas-title fs-6" id="offcanvasRightLabel">个性化设置</h5>
            <a href="#hide_panel" class="btn-link text-white fs-4 float-end" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-arrow-left-circle"></i></a>
        </div>
        <div class="offcanvas-body">
            <div class="row mb-3 p-1">
                <span class="fs-9 p-1 fw-bold">浏览视图</span>
                <div class="p-1">
                    <table width="100%" class="mt-2">
                        <tr>
                            <td width="100px">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" checked name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">默认</label>
                                </div>
                            </td>
                            <td class="pb-1"><img src="~/images/row-Default.png" /></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">紧凑</label>
                                </div>
                            </td>
                            <td class="pb-1"><img src="~/images/row-Default.png" /></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">加宽</label>
                                </div>
                            </td>
                            <td><img src="~/images/row-Default.png" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row">
                    <span class="fs-9 mb-1 fw-bold float-start">主题背景<span class="float-end fs-9"><a href="#View" class="text-decoration-none fw-normal">查看全部</a></span></span>
                </div>
                <div>
                    <table width="100%" class="mt-2">
                        <tr>
                            <td width="100px">
                                <img class="img-thumbnail" width="80" src="~/images/previewHD4.png" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_kk.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_temp.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_temp1.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_5.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_6.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_7.jpg" />
                                <img class="img-thumbnail" width="80" src="~/images/preview_8.jpg" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row">
                    <span class="fs-9 mb-1 fw-bold float-start">启用桌面通知&nbsp;<span class="fs-9"><input type="checkbox" /></span></span>
                </div>
                <div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="row">
                    <span class="fs-9 mb-1 fw-bold float-start">显示字号</span>
                    <select class="form-select fs-9" aria-label="Default select example" style="margin-left:9px;">
                        <option value="1" class="fs-7">默认</option>
                        <option value="2" class="fs-6">中号</option>
                        <option value="3" class="fs-5">大号</option>
                        <option value="3" class="fs-4">加大号</option>
                    </select>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            $("#flush_menu li").click(function () {
                var action = $(this).attr("attr-action");
                switch (action) {
                    case "print":   // 打印设置
                        //$('#dynamicPage a').show();
                        $('#btn_CloseExample')[0].click();

                        var dynamicPage = $('#dynamicPage');
                        var dynamicText = $('#dynamic-tab');

                        if (dynamicPage.hasClass("d-none")) {
                            dynamicPage.removeClass("d-none");
                        }
                        dynamicPage.addClass("d-block");
                        dynamicText.text('打印设置');

                        var dynamicTabEl = document.querySelector('#dynamicPage a');
                        var dynamicTab = new bootstrap.Tab(dynamicTabEl);

                        dynamicTab.show();

                        break;
                }
            });
            $('button.menu-btn').click(function () {
                $('.action-btn').each(function () {
                    $(this).addClass("d-none");
                });
                var btn = $(this);
                btn.siblings().removeClass("bg-d2d2d2");
                var url = btn.attr("attr-url");
                var actions = btn.attr("attr-actions");
                btn.toggleClass("bg-d2d2d2");
                if (url != "" || url != undefined) {
                    $('#html_content').attr("src", url);
                }

                var btn_dt = $('#btn_dt');
                var btn_Barcode = $('#btn_Barcode');
                var menu_id = btn.attr("attr-menuid");
                if (actions != undefined) {
                    if (actions.indexOf("Barcode") == -1) {
                        btn_dt.removeClass("d-none");
                        btn_Barcode.addClass("d-none");
                    }
                    var temp = actions.split(",");
                    $.each(temp, function (index, value) {
                        var htmlid = $('#btn_' + value + "_" + menu_id);
                        //alert(htmlid.attr("id"));
                        $(htmlid[0]).removeClass("d-none");
                        if (value == "Barcode") {
                            btn_Barcode.removeClass("d-none");
                            btn_dt.addClass("d-none");
                        }
                    });
                }
            });
            $('#myTab li').click(function () {
                var ingore = $(this).attr("html-imgore");
                if (ingore == "true") {

                } else {
                    $('#myTab li').each(function () {
                        $(this).removeClass("clicked");
                    });
                    $(this).toggleClass("clicked");
                }
            });
        });
        function call() {
            $('#chat_form').removeClass('d-none'); $('#tbx_chat').focus();
        }
    </script>
</body>
</html>