@page
@model Koala.Pages.Administration.Hospitals.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.ShortName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.ShortName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.ManagerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.ManagerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.LogoUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.LogoUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.BackgroundUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.BackgroundUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.LicenceCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.LicenceCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.LicenceTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.LicenceTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.ParentId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.ParentId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.GroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.GroupId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.CreateOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.CreateOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.UpdateOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.UpdateOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.IsRoot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.IsRoot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Hospital.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
