@page
@model Koala.Pages.Administration.Hospitals.IndexModel

@{
    ViewData["Title"] = "院单位管理";
}

<div class="container-fluid p-3">
    <div class="bg-white p-3">
        <table id="mainTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].ShortName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].ManagerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].LogoUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].BackgroundUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].LicenceCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].LicenceTo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].ParentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].GroupId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].CreateOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].UpdateOn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].IsRoot)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hospital[0].Position)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Hospital) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ManagerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LogoUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BackgroundUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenceCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LicenceTo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateOn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsRoot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>